.grid {
	margin-left: 10%;
	margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
}
.grid img {
	max-width: 100%;
	max-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f4f1e8;
}

nav {
  background-color: #344e41;
  padding: 40px ;
  text-align: center;
  margin: 0;
}

.box a {
  color: #f4f1e8;
  margin: 0 20px;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 5px;  
  transition: color 0.3s, background-color 0.3s; 
}

.box a:hover {
  background-color: #f4f1e8;
  color: black;
}

h1, h3 {
	text-align: center;
}

p {
  margin-left: 10%;
  margin-right: 10%;
}

footer {
	background-color: #344e41;
	padding: 50px 0;
	color: white;
	text-align: center;
}

.social-media a {
	color: white; 
	text-decoration: none; 
	font-size: 23px; 
	margin: 5px;
}

.social-media a:hover {
	color: #a3b18a; 
}

/* Appliquer des styles spécifiques pour les écrans de petite taille */
@media screen and (max-width: 768px) {
  .grid {
    margin-left: 5%;
    margin-right: 5%;
    height: auto; /* Ajuster la hauteur en fonction du contenu */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrer les cartes horizontalement */
    align-items: center; /* Centrer les cartes verticalement */
  }

  .grid img {
    max-width: 40%; /* Ajuster la largeur des images */
    max-height: 40%; /* Ajuster la hauteur des images */
  }
}
