body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f1e8;
  }
  @media screen and (max-width: 768px) {
    .card-container {
      flex-wrap: wrap; /* Permettre le retour à la ligne des cartes */
      justify-content: space-between; /* Répartir les cartes sur la ligne */
    }
  
    .card {
      width: calc(33.33% - 20px); /* Calculer la largeur pour 3 cartes par ligne avec un espace entre elles */
      margin-bottom: 20px; /* Ajouter un espace entre les lignes de cartes */
    }
  }
  
  nav {
    background-color: #344e41;
    padding: 40px ;
    text-align: center;
    margin: 0;
  }
  
  .box a {
    color: #f4f1e8;
    margin: 0 20px;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 5px;  
    transition: color 0.3s, background-color 0.3s; 
  }
  
  .box a:hover {
    background-color: #f4f1e8;
    color: black;
  }
  
  #top-section {
    background: #f4f1e8;
    padding: 170px 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    margin-left: 50px;
    margin-right: auto;
  }
  
  .top-section {
    display:flex;
    justify-content: center;
  }
  
  
  #top-section h2{
    color: #333;
    font-size: 40px;
  }
  
  #top-section div {
    flex: 1;
    margin-left: 30%;
}
  
  #top-section img {
    max-width: 300px;
    border-radius: 10px;
  }
  
  #pastel-fond {
    background-color: #a3b18a;
    padding: 100px;
    position: relative;
    height: 400px;
  }
  
  #centre_dinterets {
    background-color: #f4f1e8;
    padding: 20px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  
  #centre_dinterets h2 {
    font-size: 32px;
  }
  
  #centre_dinterets ul {
    font-size: 23px;
  }
  
  #white-section {
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #langages ul {
    list-style: none;
    padding: 5px;
    margin: 0;
    opacity: 0; 
    transform: translateX(100px); 
    transition: opacity 1s, transform 1s; 
    text-align: left;
  }
  
  #langages h2{
    text-align: left;
    margin-left: 10px;
    font-size: 32px;
  }
  
  #langages li {
    background-color: #a3b18a;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    font-size: 23px;
  }
  
  #bottom-section {
    padding: 50px 20px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-left: auto;
    margin-right: auto;
  }
  
  #Certifications, #Challenges {
    flex: 1; 
    padding: 0 20px; 
  }
  
  #Challenges ul, #Certifications ul {
    list-style-type: none; 
  }
  
  #Challenges li img, #Certifications li img {
    width: 50px;
    height: auto;
    vertical-align: middle;
  }
  
  footer {
    background-color: #344e41;
    padding: 50px 0;
    color: white;
    text-align: center;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* positionnez-le juste en dessous de .dropdown */
    left: 0;
    background-color: #f4f1e8;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px #3a5a40;
    min-width: 160px; 
    z-index: 1; 
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block; 
  }
  
  .dropdown-content a:hover {
    background-color: #a3b18a; 
  
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .container {
    text-align: center;
  }
  
  li a {
    color: black; 
    text-decoration: none; 
  }
  
  li a:hover {
    color: #344e41; 
  }
  
  .social-media a {
    color: white; 
    text-decoration: none; 
    font-size: 23px; 
    margin: 5px;
  }
  
  .social-media a:hover {
    color: #a3b18a; 
  }

  .card-container {
    display: flex; 
    justify-content: center;
    gap: 20px; /* espace entre les cartes */
}

.card-container_bas {
  display: flex; 
  justify-content: center;
  gap: 20px; /* espace entre les cartes */
  margin-top: 250px;
}

.card {
    width: 100px; 
    height: 100px; 
    margin-right: 130px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer; 
    background-color: #ffffff;
}

.card a img, .card, .card a  {
  border-radius: 50%;
  border-top-left-radius: 50%;
}


.description {
  display: none;
}

#detailed-content {
  background-color: #f4f1e8;
  padding: 20px;
  margin-top: 250px;
}

#detailed-content-school {
  background-color: #a3b18a; 
  padding: 30px; /* Ajustez la valeur selon vos besoins */
  margin-top: 250px; /* Ajoutez de l'espace en haut */
}

h3 {
  text-decoration: none;
  color: black;
  text-align: center;
  display: flex;
  margin-left: 50px;
}

/* Ajouter les règles CSS pour les écrans de petite taille */
@media screen and (max-width: 768px) {
  /* Réduire la taille des cartes */
  .card {
    width: calc(50% - 20px); /* Pour afficher deux cartes par ligne */
    margin-right: 10px; /* Réduire l'espace entre les cartes */
    margin-bottom: 20px; /* Ajouter un espace entre les lignes de cartes */
    
  }

  .card h3 {
    text-align: center;
  }

  /* Ajuster le style du titre */
  h2 {
    font-size: 20px; /* Réduire la taille de la police */
  }

  h3 {
    font-size: 14px; /* Réduire la taille de la police */
  }

  /* Réduire la taille des images */
  .card a img {
    max-width: 100%; /* Redimensionner les images pour qu'elles s'adaptent à la largeur de leur conteneur */
    height: auto; /* Garder le ratio d'aspect des images */
  }
}
